* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid rgb(231, 229, 229);
}

header * {
  text-align: center;
}

#logo {
  grid-column: 5 / span 1;
}

#title {
  grid-column: 6 / span 3;
  text-transform: uppercase;
  font-size: 24px;
}

ul {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

.item {
  border: 1px solid rgb(239, 237, 237);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-around;
  align-items: center;
  margin: 0;
  position: relative;
}

.left {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  grid-column: 2 / span 5;
  position: relative;
  padding: 5px;
}

.right p {
  margin: 0;
}

.right-top {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.common {
  background-color: rgb(96, 135, 149);
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-buttons {
  border-bottom: 1px solid rgb(231, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  margin: 5px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(96, 135, 149);
  text-transform: uppercase;
  cursor: pointer;
}

#search {
  text-align: center;
}

#search input {
  width: 70%;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  border: 1px solid rgb(239, 237, 237);
  outline: none;
}

.item .category {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-left: 1px solid rgb(239, 237, 237);
  border-bottom: 1px solid rgb(239, 237, 237);
  font-style: italic;
  background-color: rgba(236, 233, 83, 0.401);
  text-transform: uppercase;
}

.cart {
  background-color: red;
  color: white;
  margin: 5px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.active {
  background-color: green;
}
